* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive
}

body {
    height: 100vh;
    background-color:white;
}

#sectionImage {
    height: 100%;
    width: 100%;
}

#sectionContent {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#sectionImage img {
    filter: brightness(40%);

}

header {
    height: 13%;
}

main {
    height: 87%;
}

#homeheader {

    display: flex;
}


#homeheader #brand {
    width: 30%;
}


#homeheader #links {
    width: 50%;
    
}

#homeheader #logs {
    width: 20%;
    
}
#brand h1 {
    color: black;
    font-size: 37px;
}
#brand h1:hover {
    color: red;
    transform: scale(1.3);
    transition: 1.5s;
}

#links a {

    color: black;
    text-decoration: none;
    margin-right: 50px;
    font-size: 22px;
    position: relative;
}


#logos a {

    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
}

#links a:hover,
#logos a:hover {
    color: red;
    font-weight: bold;
    font-size: 23px;

}

#links a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: black;
    bottom: -8px;
    left: 0;
}

#links a:hover::after {
    width: 100%;
    transition: 1s;
}

.myflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logos button {
    padding: 9px 25px;
    background: none;
    border: 3px solid green;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#logos button:hover {
    background-color: red;
    color: white;
}
.container{
    width: 400px;
    height: 600px;
    border: 5px solid black;
    border-radius: 6px;
    text-align: center;
    margin: 20px auto;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);

    /* background:linear-gradient(rgb(6, 6, 218),rgb(235, 29, 235)); */
}
.content i{
    font-size: 150px;
    
}
.content h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}
label i {
    font-size: 38px;
    position:relative ;
}
input{
    font-size: 22px;
    border: none;
    /* background-color: transparent; */
    color: black;
}
.box{
    font-size: 20px;
    color: #fff; 
    cursor: pointer;
    margin: 10px;

    
}
div button{
     font-size: 22px;
     font-weight: bold;
    background-color: #fff; 
    padding: 0 20px;
    margin-top: 20px;
    height: 50px;
    border-radius: 25px;
   
}
div button:hover{
 /* background: -webkit-linear-gradient(bottom, #7579ff, #b224ef); */
    background:linear-gradient(rgb(6, 6, 218),rgb(235, 29, 235));
    color: white;
} 
.link {
    font-size: 16px;
    margin-top: 10px;
    
}
.link a{
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}
.text1{
    margin-top: 20px;
    /* margin-bottom: 25px; */
    color: white;
}
#fb{
    margin-top: 20px;
}
#fb i{
    border-radius:12px ;
    background-color: blue;
    padding: 10px 80px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    
    
}
#fb a{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    
}
#gog{
    margin-top: 24px;

}
#gog i{
    border-radius:12px ;
    background-color: blue;
    padding: 10px 95px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    
    
}
#gog a{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
  
}
